<%-include('header');-%>
<body class="dashboardBody">

<div class="container">
  <div class="row headerRow">
    <div class=" topCounterDiv col-3">
      <div class="topTotalCount">1200</div>
      <div class="topOutOf">/2000 cal</div> 
    </div>
    <div class="topCounterDiv col-3">
      <div class="topTotalCount">1000</div>
      <div class="topOutOf">/1000 sdm</div> 
    </div>
    <div class="topCounterDiv col-3">
      <div class="topTotalCount">60</div>
      <div class="topOutOf">/165 pro</div> 
    </div>
    <div class="topCounterDiv col-3">
      <div class="topTotalCount">60</div>
      <div class="topOutOf">/165 pro</div> 
    </div>
  </div>
</div>

<div class="itemListContainer">
  <%foodItemList.forEach((element)=>{%>
    <div class="container itemRowContainer">
      <div class="row itemRow">
        <div class="col-9 itemTimeNameDiv">
          <h2 class="itemTime">4:35pm</h2>
          <h2 class="itemName"><%=element.name%></h2>
        </div>
        <div class="col-3 itemValueDiv">
          <h6 class="itemValue"><%=element.calories%> cal</h6>
          <h6 class="itemValue"><%=element.sodium%> sdm</h6>
          <h6 class="itemValue"><%=element.protein%> pro</h6>
          <h6 class="itemValue"><%=element.carbs%> pro</h6>
        </div>
      </div>
    </div>
  <%});%>
</div>

<!-- BootStrap Modals ==================== -->

<!-- Quick Add -->
<div class="modal" id="quickAdd" tabindex="-1" role="dialog">
  <div class="modalQuickAdd modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Quick Add</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary cancel" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary save">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Select Item -->
<div class="modal" id="itemAdd" tabindex="-1" role="dialog">
  <div class="modalQuickAdd modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Select Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      
      <div class=" selectItemBody modal-body">
        <form action="">    
            <input type="text" class="" name="">
            <span type="button" class="addItemQuestion" data-toggle="collapse" data-target="#addItemCollapse">?</span>
            <div class="buttonNewEdit">
              <a href="">Edit Items</a>
              <a href="./newitem.ejs">New Item</a>
            </div>
            <div><%foodItemList.forEach((element)=>{%>
              <option value="<%=element.id%>"><%=element.name%></option>
              <%});%>
            </div>
        </form>    
      </div>
        
        
        <div class="collapse" id="addItemCollapse">
          <div class="card card-body">
            Help Text Here?
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary cancel" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary save">Save</button>
        </div>
      

    </div>
  </div>
</div>

<!-- Settings -->
<div class="modal" id="settings" tabindex="-1" role="dialog">
  <div class="modalQuickAdd modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Settings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary cancel" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary save">Save</button>
      </div>
    </div>
  </div>
</div>
<img class="backgroundLogo" src="./files/TedCounterLogo.svg" alt="">
<nav class="bottomButtons fixed-bottom">
  <button class="buttonSettings" data-target="#settings" data-toggle="modal">⚙</button>
  <button class="buttonAddItem" data-target="#itemAdd" data-toggle="modal">🍽</button>
  <button class="buttonQuickAdd" data-target="#quickAdd" data-toggle="modal">🔥</button>
</nav>

<!-- Bottom Navigation Bar -->
<nav class=" bottomBar navbar fixed-bottom">
  <a href="/">
    <img class="bottomBarLogo" src="./files/logoCup.svg" alt="">
  </a>
  <a class="bottomBarDay" href="#">Today</a>
</nav>

</body>
</html>

<%-include('footer');-%>