<%-include('header');-%>
<!-- Custom Styles -->
<link rel="stylesheet" href="/styles/stylesDashboard.css">
</head>

<body class="dashboardBody">

<div id="goals" data-userPreferences="<%=userPreferences%>" class="container">
  <div class="row headerRow">
    <%if(nutritionTopFour != undefined && nutritionGoals != undefined){%>
      <div class=" topCounterDiv col-3">
        <div class="topTotalCount"><%=nutritionTotals[nutritionTopFour[0]]%></div>
        <div class="topOutOf">/ <%=nutritionGoals[nutritionTopFour[0]]%> <%=nutritionTopFour[0].substring(0, 4)%></div> 
      </div>
      <div class="topCounterDiv col-3">
        <div class="topTotalCount"><%=nutritionTotals[nutritionTopFour[1]]%></div>
        <div class="topOutOf">/ <%=nutritionGoals[nutritionTopFour[1]]%> <%=nutritionTopFour[1].substring(0, 4)%></div> 
      </div>
      <div class="topCounterDiv col-3">
        <div class="topTotalCount"><%=nutritionTotals[nutritionTopFour[2]]%></div>
        <div class="topOutOf">/ <%=nutritionGoals[nutritionTopFour[2]]%> <%=nutritionTopFour[2].substring(0, 4)%></div> 
      </div>
      <div class="topCounterDiv col-3">
        <div class="topTotalCount"><%=nutritionTotals[nutritionTopFour[3]]%></div>
        <div class="topOutOf">/ <%=nutritionGoals[nutritionTopFour[3]]%> <%=nutritionTopFour[3].substring(0, 4)%></div> 
      </div>
    </div>
  <%}%>
</div>

<!-- Diary Items List -->
<div class="itemListContainer">
  <%for(i=0; i<foodDiary.length; i++){%>
    <%let wholeISODate=(foodDiary[i].date)%>
    <%let hour = wholeISODate.getUTCHours();%>
    <%let minute = wholeISODate.getUTCMinutes()%>
    <%if(minute<10){minute = '0'+minute}%>
    <div class="container itemRowContainer">
      <div class="row itemRow" value='<%=foodDiary[i]._id%>' data-toggle="collapse" data-target="#id<%=foodDiary[i]._id%>">
        <div class="col-9 itemTimeNameDiv">
          <h2 class="itemTime <%=i%>"><%=hour%>:<%=minute%></h2>
          <h2 class="itemName"><%=foodDiary[i].item.name%></h2>
        </div>
        <div class="col-3 itemValueDiv">
          <h6 class="itemValue"><%=foodDiary[i].item[nutritionTopFour[0]]%> <%=nutritionTopFour[0].substring(0,4)%></h6>
          <h6 class="itemValue"><%=foodDiary[i].item[nutritionTopFour[1]]%> <%=nutritionTopFour[1].substring(0,4)%></h6>
          <h6 class="itemValue"><%=foodDiary[i].item[nutritionTopFour[2]]%> <%=nutritionTopFour[2].substring(0,4)%></h6>
          <h6 class="itemValue"><%=foodDiary[i].item[nutritionTopFour[3]]%> <%=nutritionTopFour[3].substring(0,4)%></h6>
        </div>
      </div>
      <div class="collapse itemDropdownBox" id="id<%=foodDiary[i]._id%>">
          <table class="itemDropdownTable">
            <tr>
              <%for(e = 0; e < 5 && e < nutritionOther.length; e++){%>
                <td><%=nutritionOther[e].substring(0,4)%> : <%=foodDiary[i].item[nutritionOther[e]]%></td>
              <%}%>
            </tr>
              <tr>
                <%for(e = 5; e < 10 && e < nutritionOther.length; e++){%>
                  <td><%=nutritionOther[e].substring(0,4)%> : <%=foodDiary[i].item[nutritionOther[e]]%></td>
                <%}%>
              </tr>
              <tr>
                <%for(e = 10; e < 15 && e < nutritionOther.length; e++){%>
                  <td><%=nutritionOther[e].substring(0,4)%> : <%=foodDiary[i].item[nutritionOther[e]]%></td>
                <%}%>
              </tr>
              <tr>
                <%for(e = 15; e < 20 && e < nutritionOther.length; e++){%>
                  <td><%=nutritionOther[e].substring(0,4)%> : <%=foodDiary[i].item[nutritionOther[e]]%></td>
                <%}%>
              </tr>
              <tr>
                <%for(e = 20; e < 25 && e < nutritionOther.length; e++){%>
                  <td><%=nutritionOther[e].substring(0,4)%> : <%=foodDiary[i].item[nutritionOther[e]]%></td>
                <%}%>
              </tr>
          </table>
          <div class="itemDropdownButtons">
            <form action="/dashboard/modifyDiary" method="POST">
              <button name="duplicateItem" class="buttonNoFormat" value="<%=JSON.stringify(foodDiary[i])%>">
                <img class="itemDuplicateIcon" src="./files/duplicateIcon.svg" alt="duplicateItem">
              </button>
              <button name="removeItem" class="buttonNoFormat" value="<%=foodDiary[i]._id%>">
                <img class="itemTrashIcon" src="./files/trashCan.svg" alt="removeItem">
              </button>
            </form>
          </div>
      </div>
    </div>
  <%};%>
</div>

<!-- BootStrap Modals ==================== -->

<!-- Quick Add -->
<div class="modal" id="quickAdd" tabindex="-1" role="dialog">
  <div class="modalQuickAdd modal-dialog modal-dialog-centered">
    <form action="./quickAdd" method="POST">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Quick Add</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="newItemDiv">
              <!-- populate quick add options based on user preferences -->
              <%for(i = 0; i < nutritionTopFour.length; i++){%>
                <input class="topFour" placeholder="<%=keyToHuman[nutritionTopFour[i]]%>" name="<%=nutritionTopFour[i]%>" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
              <%};%>

              <div class="collapse quickAddHidden" id="extraInputOptions">
                <%for(i = 0; i < nutritionOther.length; i++){%>
                  <input placeholder="<%=keyToHuman[nutritionOther[i]]%>" name="<%=nutritionOther[i]%>" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
                <%};%>
              </div>

              <!-- show/hide extra input options -->
              <%if(nutritionOther != undefined && nutritionOther[0]){%>
                <p class="moreOptionsButton" data-toggle="collapse" href="#extraInputOptions">more options</p>
              <%}%>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary cancel" data-dismiss="modal">Cancel</button>
          <button type="submit" name="save" class="btn btn-primary save">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Select Item -->
<div class="modal" id="itemAdd" tabindex="-1" role="dialog">
  <div class="modalQuickAdd modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Select Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class=" selectItemBody modal-body">
        <form method="POST" action="/addToDiary">    
            <input class="filterInput" type="text" placeholder="filter" id="foodItemFilter">
            <hr class="selectItemHR">
            <div class="selectableItems">
              <!-- Create list of items in food selector modal. Add an ID to each, starting with zero. -->
              <%itemNumber = -1%>
              <%foodItemList.forEach((element)=>{%>
                <%itemNumber++%>
                <%fullElement=JSON.stringify(element)%>
                <div class="selectableItem">
                  <button name="foodItem" type="submit" id="listItem<%=itemNumber%>" value="<%=fullElement%>" ><%=element.name%></button>
                </div>
              <%});%>
            </div>
        </form>    
      </div>
        <div class="modal-footer">
          <form class="itemBottomForm" method="GET">
            <button type="button" class="btn btn-secondary addEditButton cancel"onclick="document.location='./editItem'">Edit Items</button>
            <button type="submit" class="btn btn-primary addEditButton save" formaction="./newitem">Add Item</button>
          </form>
        </div>
    </div>
  </div>
</div>

<!-- Settings -->
<div class="modal" id="settings" tabindex="-1" role="dialog">
  <div class="modalQuickAdd modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Hello <%=userName%></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs settingsTabs">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Charts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Preferences</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
        </ul>
        <p>Settings and stats here.</p>
        <p>Settings and stats here.</p>
        <p>Settings and stats here.</p>
        <button type="button" class="btn btn-secondary back" id="buttonOpenDefaultsModal">Open Defaults</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary cancel" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary save">Save</button>
      </div>
    </div>
  </div>
</div>

<object class="backgroundLogo" data="./files/TedCounterLogo.svg" type="image/svg+xml"></object>
<nav class="bottomButtons fixed-bottom">
  <button class="buttonSettings" data-target="#settings" data-toggle="modal">⚙</button>
  <button class="buttonAddItem" data-target="#itemAdd" data-toggle="modal">🍽</button>
  <button class="buttonQuickAdd" data-target="#quickAdd" data-toggle="modal">🔥</button>
</nav>

<!-- Default Settings Modal -->
<div class="modal" data-backdrop="static" id="userPreferencesModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <form action="" class="defaultsForm" method="POST">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Welcome, <%=userName%>!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body defaultsModalBody" data-page="1">
          <h4 class="defaultsTitle">Which nutrients are you most interested in?</h4>
          <hr>
          <p class="defaultsSubTitle">These four will always be visible.</p>
          
          <!-- Top Four Dropdown Options -->
          <div class="topFourFlexRow">
            <div class="topFourFlexColumn">
              <select name="topFourSelection" class="topFourSelection" id="topFourSelection1">
              </select>
              <select name="topFourSelection" class="topFourSelection" id="topFourSelection3">
              </select>
            </div>
            <div class="topFourFlexColumn">
              <select name="topFourSelection" class="topFourSelection" id="topFourSelection2">
              </select>
              <select name="topFourSelection" class="topFourSelection" id="topFourSelection4">
              </select>
            </div>
          </div>
          
          <p class="duplicateSelectionWarning hidden">You can't select the same one twice : )</p>
          
          <a class="disclaimerLink" href="/disclaimer" target="_blank">Read Disclaimer</a>
          <div class="disclaimerDiv">
            <input type="checkbox" name="disclaimerCheckbox" id="disclaimerCheckbox">
            <label for="disclaimerCheckbox">I have read and understand the disclaimer.</label>
          </div>
          
          <!-- Other Items Checkboxes -->
          <div class="otherItemsFlexRow hidden">
            <div class="otherFlexColumn1 otherCheckBoxes">
            </div>
            <div class="otherFlexColumn2 otherCheckBoxes">
            </div>
          </div>
          
          <!-- Goals Input Boxes -->
          <div class="goalsFlexRow hidden">
            <div class="goalsFlexColumn1">
            </div>
            <div class="goalsFlexColumn2">
            </div>
          </div>
          
          <hr>
          
          <!-- What would you like to do now? -->
          <div class="defaultsFinalOptionsDiv hidden">
            <button type="button" class="btn btn-secondary back" id="buttonQuickTips">View Quick Tips</button>
            <button type="button" class="btn btn-secondary back" id="buttonCloseDefaults">Get Started</button>
          </div>
          
          <!-- Loading Indicator -->
          <div class="loadingIndicatorDiv hidden">
            <div class="loadingIndicator spinner-border text-info" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary back" id="defaultsBackButton">Back</button>
          <button type="button" id="defaultsNextButton" class="btn btn-primary next" disabled>Next</button>
          <button type="submit" id="defaultsSubmitButton" class="btn btn-primary next hidden">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Bottom Navigation Bar -->
<nav class=" bottomBar navbar fixed-bottom">
  <a href="">
    <img class="bottomBarLogo" src="./files/logoCup.svg" alt="">
  </a>
  <a class="bottomBarDay" href="#">Today</a>
</nav>

</body>
</html>

<%-include('footer');-%>
<!-- Custom Script -->
<script src="/scripts/scriptDashboard.js"></script>