<%-include('header');-%>
<!-- Custom Styles -->
<link rel="stylesheet" href="/styles/stylesDashboard.css">
</head>

<body class="dashboardBody">

<div id="goals" data-userPreferences="<%=userPreferences%>" class="container">
  <div class="row headerRow">
    <%if(nutritionTopFour != undefined && nutritionGoals != undefined){%>
      <%for(let i = 0; i < nutritionTopFour.length; i++){%>
        <div class=" topCounterDiv col-<%=12 / nutritionTopFour.length%>">
          <div class="topTotalCount todayView"><%=nutritionTotals[nutritionTopFour[i]]%></div>
          <div class="topTotalCount pastView hidden">0</div>
          <div class="topOutOf">/ <%=nutritionGoals[nutritionTopFour[i]]%> <%=keyShortForm[nutritionTopFour[i]]%></div> 
        </div>
      <%}%>
    </div>
  <%}%>
</div>

<!-- Diary Items List -->
<div class="itemListContainer todayView">
  <%for(i=0; i<foodDiary.length; i++){%>
    <%let wholeISODate=(foodDiary[i].date)%>
    <%let hour = wholeISODate.getUTCHours();%>
    <%let minute = wholeISODate.getUTCMinutes()%>
    <%if(minute<10){minute = '0'+minute}%>
    <div class="container itemRowContainer">
      <div class="row itemRow collapsed" value='<%=foodDiary[i]._id%>' data-toggle="collapse" data-target="#id<%=foodDiary[i]._id%>">
        <div class="col-9 itemTimeNameDiv">
          <h2 class="itemTime <%=i%>"><%=hour%>:<%=minute%></h2>
          <h2 class="itemName"><%=foodDiary[i].item.name%></h2>
        </div>
        <div class="col-3 itemValueDiv">
          <h6 class="itemValue"><%=foodDiary[i].item[nutritionTopFour[0]]%> <%=keyShortForm[nutritionTopFour[0]]%></h6>
          <h6 class="itemValue"><%=foodDiary[i].item[nutritionTopFour[1]]%> <%=keyShortForm[nutritionTopFour[1]]%></h6>
          <h6 class="itemValue"><%=foodDiary[i].item[nutritionTopFour[2]]%> <%=keyShortForm[nutritionTopFour[2]]%></h6>
          <h6 class="itemValue"><%=foodDiary[i].item[nutritionTopFour[3]]%> <%=keyShortForm[nutritionTopFour[3]]%></h6>
        </div>
      </div>
      <div class="collapse itemDropdownBox" id="id<%=foodDiary[i]._id%>">
          <table class="itemDropdownTable">
            <tr>
              <%for(e = 0; e < 5 && e < nutritionOther.length; e++){%>
                <td><%=keyShortForm[nutritionOther[e]]%>: <%=foodDiary[i].item[nutritionOther[e]]%></td>
              <%}%>
            </tr>
              <tr>
                <%for(e = 5; e < 10 && e < nutritionOther.length; e++){%>
                  <td><%=keyShortForm[nutritionOther[e]]%>: <%=foodDiary[i].item[nutritionOther[e]]%></td>
                <%}%>
              </tr>
              <tr>
                <%for(e = 10; e < 15 && e < nutritionOther.length; e++){%>
                  <td><%=keyShortForm[nutritionOther[e]]%>: <%=foodDiary[i].item[nutritionOther[e]]%></td>
                <%}%>
              </tr>
              <tr>
                <%for(e = 15; e < 20 && e < nutritionOther.length; e++){%>
                  <td><%=keyShortForm[nutritionOther[e]]%>: <%=foodDiary[i].item[nutritionOther[e]]%></td>
                <%}%>
              </tr>
              <tr>
                <%for(e = 20; e < 25 && e < nutritionOther.length; e++){%>
                  <td><%=keyShortForm[nutritionOther[e]]%>: <%=foodDiary[i].item[nutritionOther[e]]%></td>
                <%}%>
              </tr>
          </table>
          <div class="itemDropdownButtons">
            <form action="/dashboard/modifyDiary" method="POST">
              <button name="duplicateItem" class="buttonNoFormat" value="<%=JSON.stringify(foodDiary[i])%>">
                <img class="itemDuplicateIcon" src="./files/duplicateIcon.svg" alt="duplicateItem">
              </button>
              <button name="removeItem" class="buttonNoFormat" value="<%=foodDiary[i]._id%>">
                <img class="itemTrashIcon" src="./files/trashCan.svg" alt="removeItem">
              </button>
            </form>
          </div>
      </div>
    </div>
  <%};%>
</div>

<!-- Past Diary Item List -->
<div class="itemListContainer pastView hidden">
</div>

<!-- BootStrap Modals ==================== -->

<!-- Quick Tips -->
<div class="modal" id="quickTip" tabindex="-1" role="dialog">
  <div class="modalQuickTip modal-dialog modal-dialog-centered">
    <form class="quickAddForm" action="./quickAdd" method="POST">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Quick Tip</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Quick Tip Info Here</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn bottomButton closeTip" data-dismiss="modal">Close</button>
          <button type="submit" name="dontShowTipAgain" class="btn dontShowTipAgain bottomButton">Don't Show Again</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Quick Add -->
<div class="modal" id="quickAdd" tabindex="-1" role="dialog">
  <div class="modalQuickAdd modal-dialog modal-dialog-centered">
    <form class="quickAddForm" action="./quickAdd" method="POST">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Quick Add</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="newItemDiv">
              <!-- populate quick add options based on user preferences -->
              <%for(i = 0; i < nutritionTopFour.length; i++){%>
                <input class="topFour" placeholder="<%=keyToHuman[nutritionTopFour[i]]%>" name="<%=nutritionTopFour[i]%>" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
              <%};%>

              <div class="collapse quickAddHidden" id="extraInputOptions">
                <%for(i = 0; i < nutritionOther.length; i++){%>
                  <input placeholder="<%=keyToHuman[nutritionOther[i]]%>" name="<%=nutritionOther[i]%>" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
                <%};%>
              </div>

              <!-- show/hide extra input options -->
              <%if(nutritionOther != undefined && nutritionOther[0]){%>
                <p class="moreOptionsButton" data-toggle="collapse" href="#extraInputOptions">more options</p>
              <%}%>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn cancel bottomButton" data-dismiss="modal">Cancel</button>
          <button type="submit" name="save" class="btn save bottomButton">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Select Item -->
<div class="modal" id="itemAdd" tabindex="-1" role="dialog">
  <div class="modalQuickAdd modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Pantry Items</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class=" selectItemBody modal-body">
        <form method="POST" action="/addToDiary">    
            <input class="filterInput" type="text" placeholder="filter" id="foodItemFilter">
            <hr class="selectItemHR">
            <div class="selectableItems">
              <!-- Create list of items in food selector modal. Add an ID to each, starting with zero. -->
              <%itemNumber = -1%>
              <%foodItemList.forEach((element)=>{%>
                <%itemNumber++%>
                <%fullElement=JSON.stringify(element)%>
                <div class="selectableItem">
                  <button class="visible" name="foodItem" type="submit" id="listItem<%=itemNumber%>" value="<%=fullElement%>" ><%=element.name%></button>
                </div>
              <%});%>
            </div>
        </form>    
      </div>
        <div class="modal-footer">
          <form class="itemBottomForm" method="GET">
            <button type="button" class="btn addEditButton cancel bottomButton"onclick="document.location='./editItem'">Edit Items</button>
            <button type="submit" class="btn addEditButton save bottomButton" formaction="./newitem">New Item</button>
          </form>
        </div>
    </div>
  </div>
</div>

<!-- Settings Modal (Main) -->
<div class="modal settingsModal" id="settingsModal" tabindex="-1" role="dialog">
  <div class="modalQuickAdd modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Hello, <%=userName%></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs settingsTabs">
          <li class="nav-item">
            <a id="tabCharts" class="nav-link active" aria-current="page" href="#">Charts</a>
          </li>
          <li class="nav-item">
            <a id="tabPreferences" class="nav-link" href="#">Preferences</a>
          </li>
          <li class="nav-item">
            <a id="tabProfile" class="nav-link" href="#">Profile</a>
          </li>
        </ul>
        
        <div class="chartsPage">
          <div id="chartsContainer">
            <canvas id="diaryChart"></canvas>
          </div>
          <div class="chartButtonDiv1">
            <button id="chartsButtonPercent" class="chartsButton chartsButtonSelected">Goal %</button>
            <button id="chartsButtonTotal" class="chartsButton">Total</button>
          </div>
          <div class="chartButtonDiv2">
            <button class="chartRangeButton chartsRangeButtonSelected" id="button1D">1D</button>
            <button class="chartRangeButton" id="button1W">1W</button>
            <button class="chartRangeButton" id="button2W">2W</button>
            <button class="chartRangeButton" id="button1M">1M</button>
            <button class="chartRangeButton" id="button2M">2M</button>
            <button class="chartRangeButton" id="button3M">3M</button>
            <p id="dailyAverageNote" class="hidden">*daily average</p>
          </div>
        </div>

        <div class="preferencesPage hidden">
          <button id="editGoalsButton" class="btn settingsBodyButton" data-target="#editGoalsModal" data-toggle="modal">Edit Your Goals</button>
          <button type="button" id="buttonOpenQuickTipsModal" class="btn settingsBodyButton">View Quick Tips</button>
          <hr>
          <label>Options</label>
          <table class="settingsTable">
            <tr>
              <td><label for="checkboxAutoKeyboardQuickAdd">Auto open Quick Add keyboard on mobile.</label></td>
              <td><input id="checkboxAutoKeyboardQuickAdd" type="checkbox"></td>
            </tr>
            <tr>
              <td><label for="checkboxAutoKeyboardItemSelector">Auto open Item Selector keyboard on mobile.</label></td>
              <td><input id="checkboxAutoKeyboardItemSelector" type="checkbox"></td>
            </tr>
          </table>
        </div>

        <div class="profilePage hidden">
          <label for="usernameInput">Change Username</label>
          <input id="usernameInput" type="text" placeholder="<%=userName%>" autocomplete="nickname" maxlength="25">
          <hr>
          <label for="currentPasswordInput">Change Password</label>
          <input id="currentPasswordInput" type="password" placeholder="current password" autocomplete="current-password">
          <input id="newPasswordInput" type="password" placeholder="new password" autocomplete="new-password" maxlength="128">
          <p class="changePasswordError hidden">Could not change password.<br>Please check that you entered your current password correctly.</p>
          <p class="changePasswordSuccess hidden">Your password was changed successfully.</p>
          <hr>
          <form action="/logout" method="GET">
            <button type="submit" class="btn settingsBodyButton" id="buttonLogout">Logout</button>
          </form>
        </div>

        <!-- Loading Indicator -->
        <div id="loadSettings" class="loadingIndicatorDiv hidden">
          <div class="loadingIndicator spinner-border text-info" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button id="settingsCancelButton" type="button" class="btn cancel bottomButton" data-dismiss="modal">Cancel</button>
        <button id="settingsSaveButton" type="button" class="btn save bottomButton" disabled >Save</button>
      </div>
    </div>
  </div>
</div>

<object class="backgroundLogo" data="./files/TedCounterLogo.svg" type="image/svg+xml"></object>

<nav class="bottomButtons fixed-bottom">
  <button class="buttonSettings" data-target="#settingsModal" data-toggle="modal"><img src="./files/profileButton.svg" alt="User Settings"></button>
  <button class="buttonAddItem" data-target="#itemAdd" data-toggle="modal"><img src="./files/itemSelectButton.svg" alt="Item Library"></button>
  <button class="buttonQuickAdd" data-target="#quickAdd" data-toggle="modal"><img src="./files/quickAddButton.svg" alt="Quick Add"></button>
  <button class="buttonToday hidden">X</button>
</nav>

<!-- Intro Modal -->
<div class="modal" data-backdrop="static" data-keyboard="false" id="userPreferencesModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <form action="" class="defaultsForm" method="POST">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Welcome, <%=userName%>!</h5>
        </div>
        <div class="modal-body defaultsModalBody" data-page="1">
          <h4 class="defaultsTitle">Which nutrients are you most interested in?</h4>
          <hr>
          <p class="defaultsSubTitle">These will be displayed at the top of the page, so select your favorites. You can always make changes later.</p>
          
          <!-- Top Four Dropdown Options -->
          <div class="topFourFlexRow introModal">
            <div class="topFourFlexColumn">
              <select name="topFourSelection" class="topFourSelection" id="topFourSelection1">
              </select>
              <select name="topFourSelection" class="topFourSelection" id="topFourSelection3">
                <option value="none">---</option>
              </select>
            </div>
            <div class="topFourFlexColumn">
              <select name="topFourSelection" class="topFourSelection" id="topFourSelection2">
                <option value="none">---</option>
              </select>
              <select name="topFourSelection" class="topFourSelection" id="topFourSelection4">
                <option value="none">---</option>
              </select>
            </div>
          </div>
          
          <p class="duplicateSelectionWarning hidden">You can't select the same one twice : )</p>
          
          <a class="disclaimerLink" href="/disclaimer" target="_blank">Read Disclaimer</a>
          <div class="disclaimerDiv">
            <input type="checkbox" name="disclaimerCheckbox" id="disclaimerCheckbox">
            <label for="disclaimerCheckbox">I have read and understand the disclaimer.</label>
          </div>
          
          <!-- Other Items Checkboxes -->
          <div class="otherItemsFlexRow hidden">
            <div class="otherFlexColumn1 otherCheckBoxes">
            </div>
            <div class="otherFlexColumn2 otherCheckBoxes">
            </div>
          </div>
          
          <!-- Goals Input Boxes -->
          <div class="goalsFlexRow hidden">
            <div class="goalsFlexColumn1">
            </div>
            <div class="goalsFlexColumn2">
            </div>
          </div>
          
          <hr>
          
          <!-- What would you like to do now? -->
          <div class="defaultsFinalOptionsDiv hidden">
            <button type="button" class="btn btn-secondary back" id="buttonQuickTips">View Quick Tips</button>
            <button type="button" class="btn btn-secondary back" id="buttonCloseDefaults">Get Started</button>
          </div>
          
          <!-- Loading Indicator -->
          <div id="loadPreferences" class="loadingIndicatorDiv hidden">
            <div class="loadingIndicator spinner-border text-info" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary back bottomButton" id="defaultsBackButton">Back</button>
          <button type="button" id="defaultsNextButton" class="btn next bottomButton" disabled>Next</button>
          <button type="submit" id="defaultsSubmitButton" class="btn hidden defaultsSubmitButton next bottomButton">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Edit Goals Modal -->
<div class="modal" id="editGoalsModal" tabindex="-1" role="dialog" data-backdrop="static" data-page="1">
  <div class="modal-dialog modal-dialog-centered">
    <form action="" class="editGoalsForm" method="POST">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Goals</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <!-- Page 1 -->
        <div class="modal-body editModalBody editModalPage1">
          <h4 class="defaultsTitle">Choose your top four.</h4>
          <hr>
          <p class="defaultsSubTitle">These are shown in the top bar.<br>
            If you change your mind later, reselect your original goals. No data will be lost.</p>
          <div class="topFourFlexRow">
            <div class="topFourFlexColumn">
              <select name="topFourSelection" class="topFourSelection" id="topFourEdit1">
              </select>
              <select name="topFourSelection" class="topFourSelection" id="topFourEdit2">
                <option value="none">---</option>
              </select>
            </div>
            <div class="topFourFlexColumn">
              <select name="topFourSelection" class="topFourSelection" id="topFourEdit3">
                <option value="none">---</option>
              </select>
              <select name="topFourSelection" class="topFourSelection" id="topFourEdit4">
                <option value="none">---</option>
              </select>
            </div>
          </div>
          <p class="duplicateSelectionWarning hidden">You can't select the same one twice : )</p>
          <hr>
        </div>

        <!-- Page 2 -->
        <div class="modal-body editModalBody editModalPage2 hidden">
          <h4 class="defaultsTitle">Choose your other interests.</h4>
          <hr>
          <p class="defaultsSubTitle">These items are still tracked, but are not shown in the top bar.</p>
          <div class="editOtherFlexRow">
            <div class="editOtherFlexColumn1 editOtherCheckBoxes">
            </div>
            <div class="editOtherFlexColumn2 editOotherCheckBoxes">
            </div>
          </div>
          <hr>
        </div>

        <!-- Page 3 -->
        <div class="modal-body editModalBody editModalPage3 hidden">
          <h4 class="defaultsTitle">What are your goals?</h4>
          <hr>
          <p class="defaultsSubTitle">Enter your daily goals for each nutrient.<br>
          Values provided are for reference only.<br> Always consult your doctor.</p>

          <div class="goalsFlexRow">
            <div class="editGoalsFlexColumn1">
            </div>
            <div class="editGoalsFlexColumn2">
            </div>
          </div>
          <hr>
        </div>

        <!-- Page 4 -->
        <div class="modal-body editModalBody editModalPage4 hidden">
          <h4 class="defaultsTitle">Saving</h4>
          <hr>
          <p class="defaultsSubTitle">Saving your changes...</p>
          <button type="button" class="btn btn-secondary back hidden" id="buttonCloseEditGoalsModal">Close</button>
          <!-- Loading Indicator -->
          <div id="loadEditModal" class="loadingIndicatorDiv hidden">
            <div class="loadingIndicator spinner-border text-info" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" id="goalsEditBackButton"class="btn btn-secondary back bottomButton" disabled>Back</button>
          <button type="button" id="goalsEditNextButton" class="btn next bottomButton">Next</button>
          <button type="submit" id="goalsEditSubmitButton" class="btn defaultsSubmitButton next bottomButton hidden">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Bottom Navigation Bar -->
<nav class=" bottomBar navbar fixed-bottom">
  <a>
    <img class="bottomBarLogo" src="./files/logoCup.svg" alt="">
  </a>

  <div class="bottomBarDay">
    <span id="diaryBackButton"> < </span>
    <span id="diaryTodayButton">Today</span>
    <span id="diaryForwardButton"> > </span>
  </div>
</nav>

</body>
</html>

<%-include('footer');-%>
<!-- Charts.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>
<!-- Custom Script -->
<script src="/scripts/scriptDashboard.js"></script>