<%-include('header');-%>
<!-- Custom Styles -->
<link rel="stylesheet" href="/styles/stylesEditItem.css">
</head>
  <body class="dashboardBody">

    <!-- Top Bar -->
    <div class="container">
      <div class="row headerRow">
        <div class=" topCounterDiv col-3">
          <div class="topTotalCount">-</div>
          <div class="topOutOf">/2000 cal</div> 
        </div>
        <div class="topCounterDiv col-3">
          <div class="topTotalCount">-</div>
          <div class="topOutOf">/1000 sdm</div> 
        </div>
        <div class="topCounterDiv col-3">
          <div class="topTotalCount">-</div>
          <div class="topOutOf">/165 pro</div> 
        </div>
        <div class="topCounterDiv col-3">
          <div class="topTotalCount">-</div>
          <div class="topOutOf">/165 crb</div> 
        </div>
      </div>
    </div>

    <div class="mainContentDiv">
      <h4 class="pageTitle">Item Editor</h4>
      <!-- Scrolling Item List -->
      <div class="itemListContainer">
        <%allFoodItems.forEach((item)=>{%>
          <div class="singleItem eachItemFormat" data-itemId=<%-item.id%> data-target="#editModal" data-toggle="modal"><%-item.name%></div>
        <%});%>
      </div>

      <!-- Return to Dashboard Cancel -->
      <div class="doneButtonDiv">
        <button type="button" onclick="document.location='./dashboard'" class="btn buttonStyle done">Done</button>
      </div>  
    </div>  

    <!-- Edit Item Modal -->
    <div class="modal" id="editModal" tabindex="-1" role="dialog">
      <div class="modalQuickAdd modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit Item</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <!-- Loading Indicator -->
            <div class="loadingIndicatorDiv hideElement">
              <div class="loadingIndicator spinner-border text-info" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>

            <!-- Item Name -->
            <input id="nameOfItem" type="text" maxlength="50">

            <!-- Separate "Top Four" items into two columns. Even in first, odd in second. -->
            <div class="textBoxFlexContainer">
              <div class="textBoxFlexColumn">
                <%for(i=0; i<nutritionTopFour.length; i++){%>
                  <%if(i%2 == 0){%>
                    <label class="textBoxLabel" for="<%=nutritionTopFour[i]%>"><%=nutritionTopFour[i]%></label>
                    <input class="editItemTextBoxTopFour"id="<%=nutritionTopFour[i]%>" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
                  <%}%>
                <%}%>
              </div>
              <div class="textBoxFlexColumn">
                <%for(i=0; i<nutritionTopFour.length; i++){%>
                  <%if(i%2 !== 0){%>
                    <label class="textBoxLabel" for="<%=nutritionTopFour[i]%>"><%=nutritionTopFour[i]%></label>
                    <input class="editItemTextBoxTopFour"id="<%=nutritionTopFour[i]%>" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
                  <%}%>
                <%}%>
              </div>
            </div>

            <!-- Separate "other" items into two columns. Even in first, odd in second. -->
            <div class="textBoxFlexContainer">
              <div class="textBoxFlexColumn">
                <%for(i=0; i<nutritionOther.length; i++){%>
                  <%if(i%2 == 0){%>
                    <label class="textBoxLabel" for="<%=nutritionOther[i]%>"><%=nutritionOther[i]%></label>
                    <input class="editItemTextBoxGeneral"id="<%=nutritionOther[i]%>" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
                  <%}%>
                <%}%>
              </div>
              <div class="textBoxFlexColumn">
                <%for(i=0; i<nutritionOther.length; i++){%>
                  <%if(i%2 !== 0){%>
                    <label class="textBoxLabel" for="<%=nutritionOther[i]%>"><%=nutritionOther[i]%></label>
                    <input class="editItemTextBoxGeneral"id="<%=nutritionOther[i]%>" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
                  <%}%>
                <%}%>
              </div>
            </div>
            <button type="button" class="btn btn-danger" id="deleteButton">Delete</button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary cancel" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary save">Save</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Bottom Purple Bar -->
    <nav class=" bottomBar navbar fixed-bottom">
      <a href="/">
        <img class="bottomBarLogo" src="./files/logoCup.svg" alt="">
      </a>
      <a class="bottomBarDay" href="#">Today</a>
    </nav>

  </body>
</html>

<%-include('footer');-%>
<script src="/scripts/scriptEditItems.js"></script>
