<%-include('header');-%>
<!-- Custom Styles -->
<link rel="stylesheet" href="/styles/stylesIndex.css">
</head>
<body class="indexBody">

<!-- Bootstrap Navbar -->
<nav class="topBar navbar navbar-expand-md navbar-dark fixed-top">
  <a class="navbarTitle navbar-brand"><object data="./files/TedCounterLogo.svg" type="image/svg+xml"></object></a>
</nav>

<h3>Hello!</h3>

<!-- New User Modal -->
<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signupModalIndex" aria-hidden="true">
  <div class="modal-dialog-centered modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modalTopBar">
        <h5 class="modal-title" id="signupModalIndex">New User</h5>
      </div>
      <form id="newUserForm">
        <div class="modal-body">
          <label for="newName" class="sr-only">Name</label>
          <input name="newName" id="newName" class="form-control" placeholder="Nickname" autocomplete="nickname" maxlength="25" autofocus>
          <label for="newEmail" class="sr-only">Email</label>
          <input name="newEmail" type="email" id="newEmail" class="form-control" placeholder="Email* (used for password recovery)" autocomplete="email" required>
          <label for="newPassword" class="sr-only">newPassword</label>
          <input name="newPassword" type="password" id="newPassword" class="form-control" placeholder="Password*" autocomplete="new-password" maxlength="128" required>
          <label for="confirmPassword" class="sr-only">confirmPassword</label>
          <input name="confirmPassword" type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password*" autocomplete="new-password" required>
        </div>
        <div class="accountExistsNotification hideElement">This email address is already associated with an account.</div>
        <div class="passwordTooShortNotification hideElement">Password must be at least 8 characters long.</div>
        <div class="passwordsNotMatchingNotification hideElement">The two passwords do not match.</div>

        <div class="modal-footer modalBottomBar">
          <button type="button" class="btn buttonCancel btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary createAccount">Create Account</button>
        </div>
      </form> 
    </div>
  </div>
</div>


<!-- Sign In Form -->
<form class="form-signIn text-center" action="./signIn" method="POST">
  <img class="smileLogo" src="./files/smileyFaceWhiteV2.svg" alt="" width="72" height="72">
  <h1 class="h3 signInText mb-3 font-weight-normal">Welcome Back</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" autocomplete="on" required>
  <button class="btn btn-lg btn-info btn-block" id="button-signIn" type="submit">Sign In</button>
</form>

<!-- Triggers Modal -->
<div class="signUp forgotPassword">
  <button class="btn btn-lg btn-success btn-block" data-toggle="modal" data-target="#signUpModal" id="button-signUp" type="">Sign Up</button>
  <a class="forgotLink" data-toggle="modal" data-target="#forgotPasswordModal">Forgot Password?</a>
</div>

<!-- Forgot Password Modal-->
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="forgotPasswordIndex" aria-hidden="true">
  <div class="modal-dialog-centered modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modalTopBar">
        <h5 class="modal-title" id="forgotPasswordIndex">Reset Password</h5>
      </div>
      <form id='forgotPasswordForm'>
        <div class="modal-body">
          <label for="recoveryEmail" class="sr-only">Email</label>
          <input name="recoveryEmail" type="email" id="recoveryEmail" class="form-control" placeholder="Email" required autofocus>
          <div class="emailSentNotification hideElement">Please check your inbox and spam folder.</div>
          <div class="countdown hideElement">You can send again in 30 seconds.</div>
        </div>
        <div class="modal-footer modalBottomBar">
          <button type="button" class="btn buttonCancel btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary sendEmailButton">Send Email</button>
        </div>
      </form> 
    </div>
  </div>
</div>

<!-- Forgot Password Toast -->
<div class="toast <%=toastAction%>" id="signInErrorToast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="closeToastButton">x</div>
  <div class="toast-body ">
    <strong style="font-style: bold;">Uh oh. There was an error signing in.</strong><br>
    Tap 'Forgot Password' above to reset your password or 'Sign Up' to create a free account.
  </div>
</div>

<!-- New Account Toast -->
<div class="toast <%=toastAction%>" id="newAccountToast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="closeToastButton">x</div>
  <div class="toast-body ">
    <strong style="font-style: bold;">Success! Your account has been created.</strong><br>
    You can use your email address or username to sign-in above.
  </div>
</div>

<!-- Password Reset Toast -->
<div class="toast <%=toastAction%>" id="newPasswordToast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-body ">
    <strong style="font-style: bold;">Your password has been changed.</strong><br>
    Sign in above.
  </div>
</div>

<div class="copyYearDiv">
  <a class="copyYear">&copy; 2020-2021</a>
</div>

<%-include('footer');-%>
<script src="./scripts/scriptIndex.js"></script>
</body>
</html>
